<div class="event-list">
	<div ng-repeat="event in events" class="list-entry calendar-event scrollable">
		<div class="favorite">
			<input type="checkbox"
				id="nvv1qam1dojo5hnd1pp9eijpn0googlecom20130210T190000Z-favorite"><label
				for="nvv1qam1dojo5hnd1pp9eijpn0googlecom20130210T190000Z-favorite">&nbsp;</label>
		</div>
		<div class="summary">{{event.summary}}</div>
		<div class="time">{{event.start}}-{{event.end}}</div>
		<div class="createdBy">Created By: {{event.createdBy}}</div>
		<div class="location">Location: {{event.location}}</div>
		<div class="description">{{event.description}}</div>
	</div>
</div>
