AddType application/octet-stream .ipa
AddType application/vnd.palm .ipk
AddType application/vnd.android.package-archive .apk
AddType application/x-nokia-widget .wgz
AddType application/x-silverlight-app .xap
