html, body {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: white;
}

#header {
	width: 100%;
	height: 45px;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	background-color: black;
	display: block;
	z-index: 99;
}

#header li {
	color: #444;
	float: left;
	position: relative;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	height: 45px;
	list-style-type: none;
}

#header li > a {
	color: #444;
	height: 45px;
	display: table-cell;
	vertical-align: middle;
	/*
	text-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	*/
}

#header li > a.selected {
	color: white;
}

#header > ul {
	margin: 0;
}

#header li.signin > a {
	color: white;
	margin-left: 0;
	margin-right: 0;
	padding-right: 10px;
}

#header li.signout > a {
	color: white;
	margin-left: 0;
	margin-right: 0;
	padding-right: 10px;
}

@media only screen and (max-width: 767px) {
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

@media only screen and (max-width: 500px) {
	.left { float: none; }
}

.hide-scrollbar {
	::-webkit-scrollbar {
		display: none;
	}
}

#content {
	width: 100%;
	height: 100%;
	min-height: 100%;
	top: 45px;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
	padding: 2px 5px 2px 5px;
	padding-top: 47px;
}

/*
#login {
	z-index: 200;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: white;
	color: black;
}
*/

.icon:before {
	display: inline-block;
	padding-right: 5px;
	vertical-align: middle;
	margin-top: 2px;
	/*
	background-width: 25px;
	background-height: 25px;
	*/
}

a.icon-official-events:before           { content: url(images/icons/gray/83-calendar.png);     background-size: 23px 25px; }
a.icon-my-events:before                 { content: url(images/icons/gray/111-user.png);        background-size: 24px 21px; }
a.icon-public-events:before             { content: url(images/icons/gray/112-group.png);       background-size: 32px 21px; }
a.icon-amenities:before                 { content: url(images/icons/gray/90-lifebuoy.png);     background-size: 22px 28px; }
a.icon-decks:before                     { content: url(images/icons/gray/103-map.png);         background-size: 26px 21px; }
a.icon-login:before                     { content: url(images/icons/gray/55-network.png);      background-size: 24px 24px; }
a.icon-add:before                       { content: url(images/icons/gray/31-circle-plus.png);  background-size: 24px 24px; }

a.icon-official-events.selected:before  { content: url(images/icons/white/83-calendar.png);    background-size: 23px 25px; }
a.icon-my-events.selected:before        { content: url(images/icons/white/111-user.png);       background-size: 24px 21px; }
a.icon-public-events.selected:before    { content: url(images/icons/white/112-group.png);      background-size: 32px 21px; }
a.icon-amenities.selected:before        { content: url(images/icons/white/90-lifebuoy.png);    background-size: 22px 28px; }
a.icon-decks.selected:before            { content: url(images/icons/white/103-map.png);        background-size: 26px 21px; }
a.icon-login.selected:before            { content: url(images/icons/white/55-network.png);     background-size: 24px 24px; }
a.icon-add.selected:before              { content: url(images/icons/white/31-circle-plus.png); background-size: 24px 24px; }

@media only screen and (max-width: 940px) {
	#header a.icon {
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}

	#header li.signin > a {
		padding-right: 2px;
	}

	#header li.signout > a {
		padding-right: 2px;
	}
}

.search-bar {
	font-size: large;
	margin: auto;
	/* z-index: 1; */
}
	/* margin: 3px 0 3px 0; */

input[type="search"] {
	font-size: large;
	/* margin-bottom: 5px; */
	margin: auto;
}

/*
#official-search,#my-search,#public-search,#amenities-search {
	margin-bottom: 5px;
}
*/

#content.columns {
	padding: 0px;
}

#ui-datepicker-div {
	background-color: white;
}

.event-list {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 5px;
	margin-bottom: -5px;
	border-top: 1px solid black;
}

.calendar-event {
	position: relative;
	border-bottom: 1px solid black;
	/* height: 100px; */
	width: 100%;
	overflow: auto;
	list-style-type: none;
	/* padding-left: 100px; */
	padding: 5px;

	background: #eee; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */
}

.calendar-event .summary {
	font-size: larger;
	font-weight: bolder;
	margin-right: 32px;
	min-height: 32px;
}

.calendar-event .time {
	font-weight: bolder;
}
.calendar-event .time span {
	font-family: monospace;
}

.calendar-event .createdBy {
	font-weight: bolder;
}

.calendar-event .location {
	font-weight: bolder;
}

.calendar-event .favorite {
	position: absolute;
	display: inline-block;
	float: right;
	width: 32px;
	height: 32px;
	right: 2px;
	top: 2px;
}

.calendar-event .trash {
	position: absolute;
	display: inline-block;
	float: right;
	width: 32px;
	height: 32px;
	right: 2px;
	top: 2px;
}

.calendar-event .public {
	position: absolute;
	display: inline-block;
	float: right;
	width: 32px;
	height: 32px;
	right: 2px;
	top: 34px;
}

.calendar-event .favorite input[type=checkbox] {
	display:none;
}

.calendar-event .trash input[type=button] {
	display:none;
}

.calendar-event .public input[type=checkbox] {
	display:none;
}

.calendar-event .favorite input[type=checkbox] + label {
	background:url(images/star-unchecked.png) no-repeat;
	background-position: center center;
	background-size: 26px 26px;
	width: 32px;
	height: 32px;
}

.calendar-event .favorite input[type=checkbox]:checked + label {
	background:url(images/star-checked.png) no-repeat;
	background-position: center center;
	background-size: 26px 26px;
	width: 32px;
	height: 32px;
}

.calendar-event .trash input[type=button] + label {
	background:url(images/trash.png) no-repeat;
	background-position: center center;
	background-size: 16px 21px;
	width: 32px;
	height: 32px;
}

.calendar-event .public input[type=checkbox] + label {
	background:url(images/eye-unchecked.png) no-repeat;
	background-position: center center;
	background-size: 24px 16px;
	width: 32px;
	height: 32px;
}

.calendar-event .public input[type=checkbox]:checked + label {
	background:url(images/eye-checked.png) no-repeat;
	background-position: center center;
	background-size: 24px 16px;
	width: 32px;
	height: 32px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	.calendar-event .favorite input[type=checkbox] + label {
		background-image:url(images/star-unchecked@2x.png);
	}
	.calendar-event .favorite input[type=checkbox]:checked + label {
		background-image:url(images/star-checked@2x.png);
	}
	.calendar-event .trash input[type=button] + label {
		background-image:url(images/trash@2x.png);
	}
	.calendar-event .public input[type=checkbox] + label {
		background-image:url(images/eye-unchecked@2x.png);
	}
	.calendar-event .public input[type=checkbox]:checked + label {
		background-image:url(images/eye-checked@2x.png);
	}

	a.icon-official-events:before           { content: url(images/icons/gray/83-calendar@2.png);     background-size: 23px 25px; }
	a.icon-my-events:before                 { content: url(images/icons/gray/111-user@2.png);        background-size: 24px 21px; }
	a.icon-public-events:before             { content: url(images/icons/gray/112-group@2.png);       background-size: 32px 21px; }
	a.icon-amenities:before                 { content: url(images/icons/gray/90-lifebuoy@2.png);     background-size: 22px 28px; }
	a.icon-decks:before                     { content: url(images/icons/gray/103-map@2.png);         background-size: 26px 21px; }
	a.icon-login:before                     { content: url(images/icons/gray/55-network@2.png);      background-size: 24px 24px; }
	a.icon-add:before                       { content: url(images/icons/gray/31-circle-plus@2.png);  background-size: 24px 24px; }

	a.icon-official-events.selected:before  { content: url(images/icons/white/83-calendar@2.png);    background-size: 23px 25px; }
	a.icon-my-events.selected:before        { content: url(images/icons/white/111-user@2.png);       background-size: 24px 21px; }
	a.icon-public-events.selected:before    { content: url(images/icons/white/112-group@2.png);      background-size: 32px 21px; }
	a.icon-amenities.selected:before        { content: url(images/icons/white/90-lifebuoy@2.png);    background-size: 22px 28px; }
	a.icon-decks.selected:before            { content: url(images/icons/white/103-map@2.png);        background-size: 26px 21px; }
	a.icon-login.selected:before            { content: url(images/icons/white/55-network@2.png);     background-size: 24px 24px; }
	a.icon-add.selected:before              { content: url(images/icons/white/31-circle-plus@2.png); background-size: 24px 24px; }
}

.amenities-list {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 5px;
	margin-bottom: -5px;
	border-top: 1px solid black;
	position: relative;
}

.amenities-list .divider {
	background-color: black;
	color: white;
	font-size: larger;
	font-weight: bolder;
	padding: 5px;
}

.amenity {
	position: relative;
	border-bottom: 1px solid black;
	/* height: 100px; */
	width: 100%;
	overflow: auto;
	list-style-type: none;
	/* padding-left: 100px; */
	padding: 5px;

	background: #eee; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */
}

.amenity .deck {
	display: none;
}

.amenity .name {
	font-size: larger;
	font-weight: bolder;
}

.amenity .description {
	
}

.deck-list {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: -3px;
	margin-bottom: -5px;
	border-top: 1px solid black;
	position: relative;
}

.deck-list .divider {
	background-color: black;
	color: white;
	font-size: larger;
	font-weight: bolder;
	padding: 5px;
}

.deck-list img {
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}