<!-- <h2>{{event_header}}</h2> -->
<ul data-bind="foreach: events" class="event-list unstyled" style="visibility:hidden">
  <li class="calendar-event official"> <!-- onclick="" ontouchstart="" -->
    <div class="summary"><span data-bind="text: summary"></span></div>
  	<div class="time">Time: <span data-bind="text: timespan"></span></div>
  	<div class="location">Location: <span data-bind="text: location"></span></div>
  	<div class="description"><span data-bind="text: description"></span></div>
  </li>
</ul>
