<form id="search_events"><input type="search" results="5" placeholder="Search..." data-bind="value: filter, valueUpdate: 'afterkeydown'" /></form>
<!-- <form><input placeholder="Search..." autocapitalize="off" data-bind="value: filter, valueUpdate: 'afterkeydown'" /></form> -->
<ul data-bind="foreach: { data: filteredEvents }" class="event-list unstyled" style="visibility:hidden">
  <li class="calendar-event official"> <!-- onclick="" ontouchstart="" -->
    <div class="summary"><span data-bind="text: summary"></span></div>
  	<div class="time">Time: <span data-bind="text: timespan"></span></div>
  	<div class="location">Location: <span data-bind="text: location"></span></div>
  	<div class="description"><span data-bind="text: description"></span></div>
  </li>
</ul>
