/* html reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, colgroup, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-weight: normal;
	font-style: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * Royal Caribbean Colors:
 *
 * Navy Blue:  #061556
 * Royal Blue: #0073bb
 * Royal Gold: #febd11
 */

/** tab bar **/

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  padding: 0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	color: #febd11;
	background-color: #061556;
	height: 100%;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	border-radius: 0;
	background: transparent;
	height: 36px;
	margin: 0 !important;
	padding: 0 !important;
	font-weight: bolder;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	color: white;
	background: transparent;
	font-weight: bolder;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab .gwt-TabLayoutPanelTabInner {
	padding: 2px !important;
}

div.tabLabel {
	color: #febd11;
	display: inline-block;
	vertical-align: middle;
}

.gwt-TabLayoutPanelTab-selected div.tabLabel {
	color: white;
}

div.icon {
	display: inline-block;
	vertical-align: middle;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 5px;
	margin-right: 5px;
	width: 32px;
	height: 32px;
}

@media only screen and (max-width: 940px) {
	div.tabLabel {
		display: none;
	}
}

div.icon-official-events { background-image: url(images/icons/inactive/83-calendar.png);    background-size: 23px 25px; }
div.icon-my-events       { background-image: url(images/icons/inactive/111-user.png);       background-size: 24px 21px; }
div.icon-public-events   { background-image: url(images/icons/inactive/112-group.png);      background-size: 32px 21px; }
div.icon-amenities       { background-image: url(images/icons/inactive/90-lifebuoy.png);    background-size: 24px 24px; }
div.icon-decks           { background-image: url(images/icons/inactive/103-map.png);        background-size: 26px 21px; }
div.icon-login           { background-image: url(images/icons/inactive/55-network.png);     background-size: 24px 24px; }
div.icon-add             { background-image: url(images/icons/inactive/31-circle-plus.png); background-size: 28px 28px; }

.gwt-TabLayoutPanelTab-selected div.icon-official-events { background-image: url(images/icons/active/83-calendar.png);      background-size: 23px 25px; }
.gwt-TabLayoutPanelTab-selected div.icon-my-events       { background-image: url(images/icons/active/111-user.png);         background-size: 24px 21px; }
.gwt-TabLayoutPanelTab-selected div.icon-public-events   { background-image: url(images/icons/active/112-group.png);        background-size: 32px 21px; }
.gwt-TabLayoutPanelTab-selected div.icon-amenities       { background-image: url(images/icons/active/90-lifebuoy.png);      background-size: 24px 24px; }
.gwt-TabLayoutPanelTab-selected div.icon-decks           { background-image: url(images/icons/active/103-map.png);          background-size: 26px 21px; }
.gwt-TabLayoutPanelTab-selected div.icon-login           { background-image: url(images/icons/active/55-network.png);       background-size: 24px 24px; }
.gwt-TabLayoutPanelTab-selected div.icon-add             { background-image: url(images/icons/active/31-circle-plus.png);   background-size: 28px 28px; }

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	div.icon-official-events           { background-image: url(images/icons/inactive/83-calendar@2x.png);    background-size: 23px 25px; }
	div.icon-my-events                 { background-image: url(images/icons/inactive/111-user@2x.png);       background-size: 24px 21px; }
	div.icon-public-events             { background-image: url(images/icons/inactive/112-group@2x.png);      background-size: 32px 21px; }
	div.icon-amenities                 { background-image: url(images/icons/inactive/90-lifebuoy@2x.png);    background-size: 24px 24px; }
	div.icon-decks                     { background-image: url(images/icons/inactive/103-map@2x.png);        background-size: 26px 21px; }
	div.icon-login                     { background-image: url(images/icons/inactive/55-network@2x.png);     background-size: 24px 24px; }
	div.icon-add                       { background-image: url(images/icons/inactive/31-circle-plus@2x.png); background-size: 28px 28px; }

	.gwt-TabLayoutPanelTab-selected div.icon-official-events  { background-image: url(images/icons/active/83-calendar@2x.png);      background-size: 23px 25px; }
	.gwt-TabLayoutPanelTab-selected div.icon-my-events        { background-image: url(images/icons/active/111-user@2x.png);         background-size: 24px 21px; }
	.gwt-TabLayoutPanelTab-selected div.icon-public-events    { background-image: url(images/icons/active/112-group@2x.png);        background-size: 32px 21px; }
	.gwt-TabLayoutPanelTab-selected div.icon-amenities        { background-image: url(images/icons/active/90-lifebuoy@2x.png);      background-size: 24px 24px; }
	.gwt-TabLayoutPanelTab-selected div.icon-decks            { background-image: url(images/icons/active/103-map@2x.png);          background-size: 26px 21px; }
	.gwt-TabLayoutPanelTab-selected div.icon-login            { background-image: url(images/icons/active/55-network@2x.png);       background-size: 24px 24px; }
	.gwt-TabLayoutPanelTab-selected div.icon-add              { background-image: url(images/icons/active/31-circle-plus@2x.png);   background-size: 28px 28px; }
}

.gwt-TabLayoutPanelContent table {
	border-bottom: 1px solid black !important;
}

.summary {
	font-size: larger;
	font-weight: bolder;
	margin-right: 32px;
	min-height: 32px;
}

.createdBy, .time, .location {
	font-weight: bolder;
}

.name {
	font-size: larger;
	font-weight: bolder;
}

/*
.favorite, .trash {
	position: absolute;
	display: inline-block;
	float: right;
	width: 32px;
	height: 32px;
	right: 2px;
	top: 2px;
}

.public {
	position: absolute;
	display: inline-block;
	float: right;
	width: 32px;
	height: 32px;
	right: 2px;
	top: 34px;
}*/

.favorite, .trash, .public {
	float: right;
	width: 32px;
	height: 32px;
	top: 2px;
}

label {
	display: block;
}

.event-list, .amenity-list, .deck-list {
	width: 100%;
	height: 100%;
}

.list-entry {
	padding: 10px 5px;
	border-bottom: 1px solid black;
}

.deck-list .deck {
	background: white !important;
}

.deck-list .list-entry {
	padding: 0;
}

.deck-list img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 100%;
}

.theme-header {
	color: #febd11;
	background-color: #061556;
}

.divider {
	font-size: larger;
	font-weight: bolder;
	padding: 5px;
}

.even {
	background-color: #ffffff;
}

.odd {
	background-color: #ddf2ff;
}

.list-entry input {
	display:none;
}

.list-entry .favorite input[type=checkbox] + label {
	background:url(images/icons/star-unchecked.png) no-repeat;
	background-position: center center;
	background-size:26px 26px;
	width: 32px;
	height: 32px;
}

.list-entry .favorite input[type=checkbox]:checked + label {
	background:url(images/icons/star-checked.png) no-repeat;
	background-position: center center;
	background-size: 26px 26px;
	width: 32px;
	height: 32px;
}

.list-entry .trash input[type=button] + label {
	background:url(images/icons/trash.png) no-repeat;
	background-position: center center;
	background-size: 16px 21px;
	width: 32px;
	height: 32px;
}

.list-entry .public input[type=checkbox] + label {
	background:url(images/icons/eye-unchecked.png) no-repeat;
	background-position: center center;
	background-size: 24px 16px;
	width: 32px;
	height: 32px;
}

.list-entry .public input[type=checkbox]:checked + label {
	background:url(images/icons/eye-checked.png) no-repeat;
	background-position: center center;
	background-size: 24px 16px;
	width: 32px;
	height: 32px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	.list-entry .favorite input[type=checkbox] + label {
		background-image:url(images/star-unchecked@2x.png);
		background-size: 26px 26px;
	}
	.list-entry .favorite input[type=checkbox]:checked + label {
		background-image:url(images/star-checked@2x.png);
		background-size: 26px 26px;
	}
	.list-entry .trash input[type=button] + label {
		background-image:url(images/trash@2x.png);
		background-size: 16px 21px;
	}
	.list-entry .public input[type=checkbox] + label {
		background-image:url(images/eye-unchecked@2x.png);
		background-size: 24px 16px;
	}
	.list-entry .public input[type=checkbox]:checked + label {
		background-image:url(images/eye-checked@2x.png);
		background-size: 24px 16px;
	}
}
