@font-face {
  font-family: Hero;
  src: url("../../fonts/hero.otf"); }

@font-face {
  font-family: Dekar;
  src: url("../../fonts/dekar.otf"); }

@font-face {
  font-family: Casper;
  src: url("../../fonts/casper.ttf"); }

@font-face {
  font-family: Intro;
  src: url("../../fonts/intro.otf");
  font-weight: 700; }

@font-face {
  font-family: Nexa;
  src: url("../../fonts/nexa-bold.otf");
  font-weight: 700; }

@font-face {
  font-family: Zag;
  src: url("../../fonts/zag-bold.otf");
  font-weight: 600; }

/* $headerFont: Intro, Dekar, sans-serif; */
body {
  font-family: Hero, sans-serif;
  color: #444444; }

a:link, a:visited, a:hover {
  color: black;
  text-decoration: none; }

/*
 * Animation
 */
.animate-events.ng-enter, .animate-events.ng-leave, .animate-events.ng-move {
  -webkit-transition: 1s linear height;
  -moz-transition: 1s linear height;
  -o-transition: 1s linear height;
  transition: 1s linear height;
  transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -webkit-transform: scale(1, 0); }

.animate-events.ng-enter {
  transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -webkit-transform: scale(1, 0); }

.animate-events.ng-enter.ng-enter-active {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1); }

/*
 * Mobile Navigation Stuff
 */
.mobile-header {
  color: white;
  background-color: black;
  font-family: Nexa, Hero, sans-serif;
  font-size: larger;
  -webkit-overflow-scrolling: auto;
  overflow-scrolling: auto;
  overflow: hidden; }
  .mobile-header .title {
    font-size: 24px; }
  .mobile-header .actions {
    position: absolute;
    top: 4px;
    right: 10px;
    height: 40px;
    z-index: 1; }
    .mobile-header .actions .icon-add {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
      background: url(../../icons/entypo/yellow/SVG/plus.svg) no-repeat;
      background-position: center center;
      background-size: 26px 26px;
      width: 32px;
      height: 32px; }


.mobile-frame {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out; }

.mobile-content {
  background-color: #f8f8f8; }

.mobile-nav {
  color: black;
  background-color: #cccccc;
  box-shadow: inset -0.0625em 0 0.625em rgba(0, 0, 0, 0.6); }
  .mobile-nav .nav {
    cursor: default;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: transparent;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .mobile-nav .nav > li.sidebar-header {
    display: inline-block;
    width: 250px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Nexa, Hero, sans-serif;
    font-weight: bold;
    font-size: 26px; }
  .mobile-nav .nav > li.sidebar-header:hover, .mobile-nav .nav > li.sidebar-header:focus {
    color: black;
    background-color: transparent; }
  .mobile-nav .nav > li {
    display: inline-block;
    width: 250px;
    border-bottom: 1px solid #aaaaaa;
    color: black; }
    .mobile-nav .nav > li a {
      display: block;
      padding: 10px;
      color: black;
      background-color: transparent;
      width: 230px;
      height: 100%; }
  .mobile-nav .nav > li:hover, .mobile-nav .nav > li:focus, .mobile-nav .nav > li.selected {
    color: white;
    background-color: #333333; }
    .mobile-nav .nav > li:hover a, .mobile-nav .nav > li:focus a, .mobile-nav .nav > li.selected a {
      color: white; }
    .mobile-nav .nav > li:hover a:hover, .mobile-nav .nav > li:hover a:focus, .mobile-nav .nav > li:focus a:hover, .mobile-nav .nav > li:focus a:focus, .mobile-nav .nav > li.selected a:hover, .mobile-nav .nav > li.selected a:focus {
      color: white; }

.mobile-nav-toggle {
  width: 30px;
  height: 30px;
  margin: 5px 0.625em;
  float: left;
  border: 1px solid white;
  color: #eeeeee;
  background-color: #555555;
  background-position: center;
  background-image: url('../../icons/entypo/grey/SVG/menu.svg');
  background-size: 20px 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  /* background-origin: */
  /* background-clip: */
  background-attachment: scroll;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  text-align: left;
  text-indent: 150%;
  -webkit-appearance: none;
  appearance: none; }

.mobile-header-inner, .mobile-content-inner, .mobile-footer-inner {
  padding: 0; }

.mobile-header-inner {
  float: left;
  height: 31px;
  margin: 0;
  padding: 9px 0 0 0; }

.mobile-content h1 {
  padding: 0; }

.mobile-content-inner {
  padding: 0; }

.list-entry {
  border-bottom: 1px solid black;
  padding: 10px; }
  .list-entry .favorite input[type=checkbox] {
    display: none; }
  .list-entry .favorite input[type=checkbox] + label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    background: url(../../icons/entypo/grey/SVG/star2.svg) no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    width: 32px;
    height: 32px; }
  .list-entry .favorite input[type=checkbox]:checked + label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url(../../icons/entypo/yellow/SVG/star2.svg) no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    width: 32px;
    height: 32px; }
  .list-entry .trash input[type=checkbox] {
    display: none; }
  .list-entry .trash input[type=checkbox] + label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    background: url(../../icons/entypo/yellow/SVG/trash.svg) no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    width: 32px;
    height: 32px; }

.list-entry:nth-child(odd) {
  background: white; }

.list-entry:nth-child(even) {
  background: #ddf2ff; }

/*
 * Events
 */
.event-list {
  font-family: Casper, sans-serif; }

.summary {
  font-size: 15pt;
  font-weight: bold;
  margin-right: 32px;
  min-height: 32px;
  vertical-align: middle; }

.mine .summary {
  margin-right: 96px; }

.createdBy, .time, .location {
  font-weight: bold;
  font-size: 12pt; }

.description {
  margin-top: 12px;
  font-size: 12pt; }

.name {
  font-size: 12pt;
  font-weight: bold; }

.favorite, .trash, .public, .edit {
  float: right;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 2px;
  z-index: 1; }

/*
 * Deck Plans
 */
.deck-plans {
  overflow-x: hidden;
  width: 100%;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none; }
  .deck-plans img {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none; }
  .deck-plans div.arrow {
    position: absolute;
    width: 5%;
    min-width: 40px;
    top: 40px;
    bottom: 0;
    height: 100%; }
    .deck-plans div.arrow img {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 0;
      margin-top: auto;
      margin-bottom: auto; }
  .deck-plans .left {
    left: 250px; }
  .deck-plans .right {
    right: 0; }

/*
 * Event Pop-Up
 */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white; }

.add-event-form table {
  width: 360px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0; }
.add-event-form h3 {
  padding: 5px;
  font-weight: 900; }
.add-event-form td {
  padding: 5px; }
.add-event-form .buttons {
  button-display: inline-block;
  text-align: right; }

form.add-event-form {
  position: relative;
  width: 100%;
  height: 100%; }
