@font-face {
  font-family: Hero;
  src: url("../../fonts/hero.otf"); }

@font-face {
  font-family: Dekar;
  src: url("../../fonts/dekar.otf"); }

@font-face {
  font-family: Casper;
  src: url("../../fonts/casper.ttf"); }

@font-face {
  font-family: Intro;
  src: url("../../fonts/intro.otf");
  font-weight: 700; }

@font-face {
  font-family: Nexa;
  src: url("../../fonts/nexa-bold.otf");
  font-weight: 700; }

@font-face {
  font-family: Zag;
  src: url("../../fonts/zag-bold.otf");
  font-weight: 600; }

body {
  font-family: Hero, sans-serif;
  color: #444444; }

a:link, a:visited, a:hover {
  color: black;
  text-decoration: none; }

.mobile-header {
  color: white;
  background-color: black;
  font-family: Intro, Dekar, sans-serif;
  font-size: larger; }


.mobile-frame {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out; }

.mobile-content {
  background-color: white; }

.mobile-nav {
  color: black;
  background-color: #cccccc;
  box-shadow: inset -0.0625em 0 0.625em rgba(0, 0, 0, 0.6); }
  .mobile-nav .nav {
    cursor: default;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: transparent;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .mobile-nav .nav > li.sidebar-header {
    display: inline-block;
    width: 250px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Nexa, Hero, sans-serif;
    font-weight: bold;
    font-size: 26px; }
  .mobile-nav .nav > li.sidebar-header:hover, .mobile-nav .nav > li.sidebar-header:focus {
    color: black;
    background-color: transparent; }
  .mobile-nav .nav > li {
    display: inline-block;
    width: 250px;
    border-bottom: 1px solid #aaaaaa;
    color: black; }
    .mobile-nav .nav > li a {
      display: block;
      padding: 10px;
      color: black;
      background-color: transparent;
      width: 230px;
      height: 100%; }
  .mobile-nav .nav > li:hover, .mobile-nav .nav > li:focus {
    color: white;
    background-color: #333333; }
    .mobile-nav .nav > li:hover a, .mobile-nav .nav > li:focus a {
      color: white; }
    .mobile-nav .nav > li:hover a:hover, .mobile-nav .nav > li:hover a:focus, .mobile-nav .nav > li:focus a:hover, .mobile-nav .nav > li:focus a:focus {
      color: white; }

.mobile-nav-toggle {
  width: 30px;
  height: 30px;
  margin: 5px 0.625em;
  float: left;
  border: 1px solid white;
  color: #eeeeee;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzBweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMzAgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxjaXJjbGUgZmlsbD0iI0ZGRkZGRiIgY3g9IjIuNSIgY3k9IjIuNSIgcj0iMi41Ii8+DQo8Y2lyY2xlIGZpbGw9IiNGRkZGRkYiIGN4PSIyLjUiIGN5PSIxMiIgcj0iMi41Ii8+DQo8Y2lyY2xlIGZpbGw9IiNGRkZGRkYiIGN4PSIyLjUiIGN5PSIyMS41IiByPSIyLjUiLz4NCjxyZWN0IHg9IjcuMiIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjE5LjgiIGhlaWdodD0iNSIvPg0KPHJlY3QgeD0iNy4yIiB5PSI5LjUiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyMi44IiBoZWlnaHQ9IjUiLz4NCjxyZWN0IHg9IjcuMiIgeT0iMTkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxNi44IiBoZWlnaHQ9IjUiLz4NCjwvc3ZnPg0K);
  background-color: #555555;
  background-position: center;
  background-size: 24px 20px;
  background-repeat: no-repeat;
  /* background-origin: */
  /* background-clip: */
  background-attachment: scroll;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  text-align: left;
  text-indent: 150%;
  -webkit-appearance: none;
  appearance: none; }

.mobile-header-inner, .mobile-content-inner, .mobile-footer-inner {
  padding: 0; }

.mobile-header-inner {
  float: left;
  height: 40px;
  margin: 0;
  padding: 0; }
  .mobile-header-inner .title {
    margin-top: 4px;
    height: 40px;
    font-size: 32px; }

.mobile-content h1 {
  padding: 0; }

.mobile-content-inner {
  padding: 0; }

.list-entry {
  border-bottom: 1px solid black;
  padding: 10px; }
  .list-entry .favorite input[type=checkbox] {
    display: none; }
  .list-entry .favorite input[type=checkbox] + label {
    display: block;
    background: url(../../icons/star-unchecked.png) no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    width: 32px;
    height: 32px; }
  .list-entry .favorite input[type=checkbox]:checked + label {
    background: url(../../icons/star-checked.png) no-repeat;
    background-position: center center;
    background-size: 26px 26px;
    width: 32px;
    height: 32px; }

.list-entry:nth-child(odd) {
  background: transparent; }

.list-entry:nth-child(even) {
  background: #ddf2ff; }

/*
 * Events
 */
.event-list {
  font-family: Casper, sans-serif; }

.summary {
  font-size: 15pt;
  font-weight: bold;
  margin-right: 32px;
  min-height: 32px;
  vertical-align: middle; }

.mine .summary {
  margin-right: 96px; }

.createdBy, .time, .location {
  font-weight: bold;
  font-size: 12pt; }

.description {
  margin-top: 12px;
  font-size: 12pt; }

.name {
  font-size: 12pt;
  font-weight: bold; }

.favorite, .trash, .public, .edit {
  float: right;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 2px;
  z-index: 1; }
