@font-face {
	font-family: Hero;
	src: url("../../fonts/hero.otf");
}

@font-face {
	font-family: Dekar;
	src: url("../../fonts/dekar.otf");
}

@font-face {
	font-family: Casper;
	src: url("../../fonts/casper.ttf");
}

@font-face {
	font-family: Intro;
	src: url("../../fonts/intro.otf");
	font-weight: 700;
}

@font-face {
	font-family: Nexa;
	src: url("../../fonts/nexa-bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: Zag;
	src: url("../../fonts/zag-bold.otf");
	font-weight: 600;
}

$cmBabyBlue: #ddf2ff;

$defaultFont: Hero, sans-serif;
$headerFont: Intro, Dekar, sans-serif;
$eventListFont: Casper, sans-serif;
$sidebarHeaderFont: Nexa, Hero, sans-serif;

$gutterShadow: 0px 0px 5px 6px rgba(0,0,0,0.4);
$gutterTransition: all 0.1s ease-out;
$gutterSeparator: 1px solid #aaa;

$gutterBG: #ccc;
$gutterColor: black;

$gutterHilightBG: #333;
$gutterHilightColor: white;

$gutterSelectedBG: $cmBabyBlue;
$gutterSelectedColor: black;

$simpleBorder: 1px solid black;

$titleBarColor: white;
$titleBarBG: black;

$deckHeaderColor: white;
$deckHeaderBG: black;

$mainBG: white;
$alternateBG: $cmBabyBlue;

body {
  font-family: $defaultFont;
	color: #444;
}

a:link,
a:visited,
a:hover {
	color: #000;
	text-decoration: none;
}

.mobile-header {
	color: $titleBarColor;
	background-color: $titleBarBG;
  font-family: $headerFont;
  font-size: larger;
}

.mobile-footer {

}

.mobile-frame {
	-webkit-transition: $gutterTransition;
	-moz-transition: $gutterTransition;
	transition: $gutterTransition;
	-webkit-transition: $gutterTransition;
}

.mobile-content {
	background-color: $mainBG;
}

.mobile-nav {
	color: $gutterColor;
	background-color: $gutterBG;
	box-shadow: inset -.0625em 0 .625em rgba(0,0,0,.6);

	.nav {
		cursor: default;
		margin: 0;
		padding: 0;
		list-style-type: none;
		background-color: transparent;
		color: $gutterColor;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.nav > li.sidebar-header {
		display: inline-block;
		width: 100%;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: $sidebarHeaderFont;
		font-weight: bold;
		font-size: 26px;
	}

	.nav > li.sidebar-header:hover, .nav > li.sidebar-header:focus {
		color: $gutterColor;
		background-color: transparent;
	}

	.nav > li {
		display: inline-block;
		width: 100%;
		border-bottom: $gutterSeparator;
		color: $gutterColor;
		a {
			display: block;
			padding: 10px;
			color: $gutterColor;
			background-color: transparent;
			width: 100%;
			height: 100%;
		}
	}

	.nav > li:hover, .nav > li:focus {
		color: $gutterHilightColor;
		background-color: $gutterHilightBG;
		a {
			color: $gutterHilightColor;
		}
		a:hover, a:focus {
			color: $gutterHilightColor;
		}
	}

}

.mobile-nav-toggle {
	width: 30px;
	height: 30px;
	margin: 5px .625em;
	float: left;
	border: 1px solid white;
	color: #eee;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzBweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMzAgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxjaXJjbGUgZmlsbD0iI0ZGRkZGRiIgY3g9IjIuNSIgY3k9IjIuNSIgcj0iMi41Ii8+DQo8Y2lyY2xlIGZpbGw9IiNGRkZGRkYiIGN4PSIyLjUiIGN5PSIxMiIgcj0iMi41Ii8+DQo8Y2lyY2xlIGZpbGw9IiNGRkZGRkYiIGN4PSIyLjUiIGN5PSIyMS41IiByPSIyLjUiLz4NCjxyZWN0IHg9IjcuMiIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjE5LjgiIGhlaWdodD0iNSIvPg0KPHJlY3QgeD0iNy4yIiB5PSI5LjUiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyMi44IiBoZWlnaHQ9IjUiLz4NCjxyZWN0IHg9IjcuMiIgeT0iMTkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxNi44IiBoZWlnaHQ9IjUiLz4NCjwvc3ZnPg0K);
	background-color: #555;
	background-position: center;
	background-size: 24px 20px;
	background-repeat: no-repeat;
	/* background-origin: */
	/* background-clip: */
	background-attachment: scroll;
	outline: none;
	border-radius: 3px;
	overflow: hidden;
	text-align: left;
	text-indent: 150%;
	-webkit-appearance: none;
	appearance: none;
}

.mobile-header-inner,
.mobile-content-inner,
.mobile-footer-inner {
	padding: 0 .625em;
}

.mobile-header-inner {
	/* height: 40px; */
	float: left;
	margin-top: 4px;

	.title {
		padding-top: 0;
		padding-bottom: 0;
		height: 32px;
		font-size: 36px;
		vertical-align: bottom;
	}
}

.mobile-content h1 {
	padding: 0 .416667em;
}

.mobile-content-inner {
	padding: 0;
}

.list-entry {
	border-bottom: $simpleBorder;
	padding: 10px;

	.favorite input[type=checkbox] {
		display: none;
	}

	.favorite input[type=checkbox] + label {
		display: block;
		background:url(../../icons/star-unchecked.png) no-repeat;
		background-position: center center;
		background-size:26px 26px;
		width: 32px;
		height: 32px;
	}

	.favorite input[type=checkbox]:checked + label {
		background:url(../../icons/star-checked.png) no-repeat;
		background-position: center center;
		background-size: 26px 26px;
		width: 32px;
		height: 32px;
	}

}

.list-entry:nth-child(odd) {
	background: transparent;
}

.list-entry:nth-child(even) {
	background: $alternateBG;
}

/*
 * Events
 */

.event-list {
	font-family: $eventListFont;
}

.summary {
	font-size: 15pt;
	font-weight: bold;
	margin-right: 32px;
	min-height: 32px;
	vertical-align: middle;
}

.mine .summary {
	margin-right: 96px;
}

.createdBy,.time,.location {
	font-weight: bold;
	font-size: 12pt;
}

.description {
	margin-top: 12px;
	font-size: 12pt;
}

.name {
	font-size: 12pt;
	font-weight: bold;
}

.favorite,.trash,.public,.edit {
	float: right;
	display: inline-block;
	width: 32px;
	height: 32px;
	top: 2px;
	z-index: 1;
}

