@font-face {
	font-family: Hero;
	src: url("../../fonts/hero.otf");
}

@font-face {
	font-family: Dekar;
	src: url("../../fonts/dekar.otf");
}

@font-face {
	font-family: Casper;
	src: url("../../fonts/casper.ttf");
}

@font-face {
	font-family: Intro;
	src: url("../../fonts/intro.otf");
	font-weight: 700;
}

@font-face {
	font-family: Nexa;
	src: url("../../fonts/nexa bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: Zag;
	src: url("../../fonts/zag bold.otf");
	font-weight: 600;
}

$cmBabyBlue: #ddf2ff;

$defaultFont: Hero, sans-serif;
$headerFont: Intro, Dekar, sans-serif;
$eventListFont: Casper, sans-serif;
$sidebarHeaderFont: Nexa, Hero, sans-serif;

$gutterShadow: 0px 0px 5px 6px rgba(0,0,0,0.4);
$gutterTransition: all 0.1s ease-out;
$gutterSeparator: 1px solid #aaa;

$gutterBG: #ccc;
$gutterColor: black;

$gutterHilightBG: #333;
$gutterHilightColor: white;

$gutterSelectedBG: $cmBabyBlue;
$gutterSelectedColor: black;

$simpleBorder: 1px solid black;

$titleBarColor: white;
$titleBarBG: black;

$deckHeaderColor: white;
$deckHeaderBG: black;

$mainBG: white;
$alternateBG: $cmBabyBlue;

html,body {
	height: 100%;
	overflow-x: hidden;
	font-family: $defaultFont;
	-webkit-overflow-scrolling: touch;
}

.shadow {
	-moz-box-shadow: $gutterShadow;
	-webkit-box-shadow: $gutterShadow;
	box-shadow: $gutterShadow;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
.row-offcanvas {
	position: relative;
	margin: 0;
	-webkit-transition: $gutterTransition;
	-moz-transition: $gutterTransition;
	transition: $gutterTransition;
	-webkit-transition: $gutterTransition;
}

.row-offcanvas-left .sidebar-offcanvas {
	margin: 0;
}

.row-offcanvas-left.active {
	margin: 0;
}

.sidebar-offcanvas {
	position: fixed;
	top: 40px;
	height: 100%;
	padding: 0;
	font-size: larger;
	color: $gutterColor;
	background-color: $gutterBG;
	a {
		color: $gutterColor;
		background-color: transparent;
	}
	a:hover, a:focus {
		color: $gutterHilightColor;
		background-color: $gutterHilightBG;
	}
}

.sidebar-header {
	text-align: center;
	padding: 15px;
	font-family: $sidebarHeaderFont;
	font-weight: bold;
	font-size: 30px;
}

.nav > li {
	a {
		color: $gutterColor;
		background-color: transparent;
	}
	a:hover, a:focus {
		color: $gutterHilightColor;
		background-color: $gutterHilightBG;
	}
	border-bottom: $gutterSeparator;
}

.nav > li.active {
	color: $gutterSelectedColor;
	background-color: $gutterSelectedBG;
	a {
		color: $gutterSelectedColor;
	}
	a:hover, a:focus {
		color: $gutterHilightColor;
	}
}

.row-offcanvas-left .sidebar-offcanvas {
	left: -250px;
}
.row-offcanvas-left.active {
	left: 250px;
}
.sidebar-offcanvas {
	width: 250px;
}

.fcontainer {
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 1;
}

.row {
	height: 100%;
	min-height: 100%;
}
/*
 * Right-Page
 */
.main-view {
	border-left: $simpleBorder;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100%;
	position: absolute;
	overflow: hidden;
	overflow-x: hidden;
}

.main-header {
	width: 100%;
	background-color: $titleBarBG;
	height: 40px;
	color: $titleBarColor;
	font-family: $headerFont;
	font-size: larger;
	padding: 10px;
	vertical-align: top;
	left: 0;
	top: 0;
	position: fixed;
	user-select: none;
	.glyphicon {
		margin: -10px;
		padding: 10px;
		width: 40px;
		height: 40px;
	}
	.title {
		font-weight: bold;
		letter-spacing: 2px;
	}
}

.main-header>* {
	display: inline-block;
	user-select: none;
}

.main-contents {
	margin-top: 40px;
	overflow-y: auto;
}

.sidebar-offcanvas {
	display: none;
}

.sidebar-offcanvas.active {
	display: block;
}

/*
 * Lists
 */
.event-list {
	font-family: $eventListFont;
}

.list-entry {
	border-bottom: $simpleBorder;
	padding: 5px;
}

.list-entry:nth-child(odd) {
	background: $mainBG;
}

.list-entry:nth-child(even) {
	background: $alternateBG;
}

/*
 * Event List
 */
.summary {
	font-size: 15pt;
	font-weight: bold;
	margin-right: 32px;
	min-height: 32px;
	vertical-align: middle;
}

.mine .summary {
	margin-right: 96px;
}

.createdBy,.time,.location {
	font-weight: bold;
	font-size: 12pt;
}

.description {
	font-size: 12pt;
}

.name {
	font-size: 15pt;
	font-weight: bold;
}

.favorite,.trash,.public,.edit {
	float: right;
	display: inline-block;
	width: 32px;
	height: 32px;
	top: 2px;
	z-index: 1;
}

/**
 * Deck plans.
 */
.deck-plans {
	width: 100%;

	img {
		display: block;
		width: 98%;
		max-width: 500px;
		margin: auto;
		margin-bottom: 10px;
		padding: 10px;
	}
	div.arrow {
		position: absolute;
		background-color: rgba(0,0,0,0.2);
		width: 40px;
		top: 40px;
		bottom: 0;
		height: 100%;
		z-index: 2;
	}
	.left {
		left: 0;
	}
	.right {
		right: 0;
	}
	/*
	div {
		width: 100%;
		color: $deckHeaderColor;
		background-color: $deckHeaderBG;
		font-family: $headerFont;
		font-size: large;
		font-weight: bold;
		text-align: center;
		padding: 5px;
		margin-bottom: 10px;
	}
	*/
}
